supported-calendar-component-set kann nicht geändert werden!!!

https://tools.ietf.org/html/rfc4791

Nach RFC 4791 Section 5.2.3.  CALDAV:supported-calendar-component-set Property

> The CALDAV:supported-calendar-component-set property is used to **specify restrictions** on the calendar component types that calendar object resources may contain in a calendar collection.
>  ...
> Since this **property is protected**, it cannot be changed by clients using a PROPPATCH request.

d.h. Der ursprünglich Plan, Kalender mit VJournal support auszustatten wird nicht funktionieren, bzw. setzt voraus, dass die Kalender, gelöscht, neu erstellt und alle Children kopiert werden müssen.

:(

Alternaitves might be:

- saving the calendars child components -> removing the original calendar -> creating a new calendar with VJOURNAL support  -> adding the saved child components
- editing the supported-calendar-component-set within mysql

not sure if there might be issues with the secound option